
body{
    background-color: lightgray;
}    
.navbar{
    background-color: white;
    padding: 2px;
    margin-bottom: 50px;
    color: lightseagreen;
    cursor: pointer; 
} 
.dropdown{
    padding: 3px;
    margin: 10px;
}
.summary{
    background-color: white;
    padding:30px;
    width: 800px;
    margin-left: 60px;
    margin-bottom: 60px;
    margin-right: 0;
    border-radius: 5pt;
    display: flex;
    flex-wrap: wrap; 
}
.page_title{
    color: lightseagreen;
    justify-content: flex-start;
    font-size-adjust: inherit;
    padding: 30px;
    font-weight: bold;
    font-family: "Georgia", Times, serif;
    font-size: 26pt;

}
.image-temp{
    padding: 20px;
}

.p_1, .p_2{
    font-size-adjust: inherit;
    color: black;
    text-align: justify;
    font-weight: normal;
    font-family: "Georgia", Times, serif;
    font-size: 18px;
    flex-wrap: wrap;
    display: flex;
}
.visualizations{
    background-color: white;
    padding: 1px;
    width: 400px;
    margin-bottom: 150px;
    border-radius: 5pt; 
    display: flex;
    flex-wrap: wrap;
    float: right;
}
.chart_title{
    color: lightseagreen;
    padding: 30px;
    font-weight: bold;
    font-family: "Georgia", Times, serif;
    font-size: 20pt;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkslategray;
    color: lightseagreen;
    text-align: center;
    padding: 10px;
 }
