
body{
    background-color: lightgray;
}    
.navbar{
    background-color: white;
    padding: 10px;
    padding-left: 20;
    margin-bottom: 50px;
    color: rgb(31, 127, 190);

} 
.navbar-brand{
    padding: 7px;
    margin-left: 70px;
    font-size: 26pt;
    font-family: "Georgia", Times, serif;
    font-weight: bold;
    color: rgb(31, 127, 190);
}
.nav-link{
    margin-left: 60px;
    font-size: 22pt;
    font-family: "Georgia", Times, serif;
    font-weight: bold;
    color: rgb(31, 127, 190);
}
.col-lg-7{
    background-color: white;
    padding: 40px;
    margin-top: 10px;
    margin-left: 60px;
    margin-bottom: 30px;
    margin-right: 0px;
    border-radius: 7pt;
    display: flex;
    flex-wrap: wrap;  
}
.page_title{
    color: rgb(31, 127, 190);
    justify-content: flex-start;
    font-size-adjust: inherit;
    padding: 30px;
    font-weight: bold;
    font-family: "Georgia", Times, serif;
    font-size: 30pt;

}
.image-temp{
    padding: 10px;
}
hr {     
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
    width: 95%;
} 

.p_1, .p_2{
    font-size-adjust: inherit;
    color: rgb(47, 50, 53);
    text-align: justify;
    font-weight: normal;
    font-family: "Georgia", Times, serif;
    font-size: 20px;
    flex-wrap: wrap;
    display: flex;
}
.col-lg-4{
    background-color: white;
    padding: 40px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
    border-radius: 7pt; 
    display: flex;
    flex-wrap: wrap;
}
.chart_title{
    color: rgb(31, 127, 190);
    padding: 30px;
    font-weight: bold;
    font-family: "Georgia", Times, serif;
    font-size: 20pt;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(24, 101, 153);
    color: rgb(228, 236, 238);
    text-align: center;
    padding: 5px;
 }
/* comparisons page */

.comparisons{
    background-color: white;
    margin-top: 20px;
    margin-right: 200px;
    margin-bottom: 50px;
    margin-left: 200px;
    padding: 10px;
    border-radius: 7px;
}
.compare_chart_title{
    color: rgb(31, 127, 190);
    padding: 50px;
    font-weight: bold;
    font-family: "Georgia", Times, serif;
    font-size: 30pt;
}
/* data_table_page */
.data_table{
    background-color: white;
    padding: 50px;
    margin: 70px;
    font-weight: bold;
    font-size: 18pt;
    border-radius: 7px;
}
.data_header{
    color: rgb(31, 127, 190);
    padding: 50px;
    font-weight: bold;
    font-family: "Georgia", Times, serif;
    font-size: 30pt;
}
.p_data{
    color: rgb(47, 50, 53);
    text-align: justify;
    font-weight: normal;
    font-family: "Georgia", Times, serif;
    font-size: 26px;
}
